#Python virtual environment

venv/
pycache/
*.pyc

#Generated Data & Output - These folders can get large and shouldn't be in Git

lakehouse_data/
api_output/
raw_data/processed
error_input/
farmer_registry_input/processed
drrm_datasets/exported

#OS-specific files (macOS)

.DS_Store
raw_data/.DS_Store

#Editor-specific files (e.g., VS Code, PyCharm)

.vscode/
.idea/

#Logs (if you create a logs directory)

logs/
*.log

#Environment files (e.g., .env for secrets)

.env